@using System.IO
@model WebDAL.Entity.Guest

@{
    ViewBag.Title = "Вход";
    Layout = "_Layout";
}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="row justify-content-center mt-5 text-center">
    <div class="col-md-4">
        <form asp-action="Login">
            <span>
                <object type="image/svg+xml" data="~/images/login2.svg" width="80" height="80"> </object>
            </span>
            <h1 class="h3 mb-3">Вход</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="name" class="sr-only">Имя</label>
                <input asp-for="name" class="form-control" placeholder="Имя" autofocus>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="password" class="sr-only">Пароль</label>
                <input asp-for="password" type="password" class="form-control" placeholder="Пароль">
                <span asp-validation-for="password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block mb-5" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>