@page
@model WebClient.Pages.Index

@{
    Layout = "Shared/_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Портфолио</title>
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="img-thumbnail" /> Добро пожаловать на сайт-портфолио!
				</h2>
				<p>
					C# мой любимый язык со времен института, когда я для себя открыл Unity 3D. Я постоянно развивал язык, изучая Юнити как хобби. Далее я разрабатывал приложение на .Net Framework WPF.
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Подробнее</a>
				</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>